mat-card {
  width: 100%;
  height: 75px;
  margin: 5px;
}

table {
  width: 100%;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #f89b46;
  border-color: #f89b46;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(250, 250, 250);
}

.mat-input-element:focus {
  font: inherit;
  /* background: transparent; */
  color: #f89b46;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
}

.btn-success {
  color: #f89b46;
  background-color: #ffffff;
  border-color: #f89b46;
}

mat-paginator {
  width: 98%;
}

.btn-success:hover {
  color: #fff;
  background-color: #f89b46;
  border-color: #f89b46;
}

.btn-success.focus,
.btn-success:focus {
  color: #fff !important;
  background-color: #f89b46 !important;
  border-color: #f89b46 !important;
  box-shadow: #f89b46 !important;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
  }
